
.top {
	height:200px;
	width:50%;
	font-size:0;
	display: inline-block;
}
.green {
	font-size: 0;
	background-color:green;
		
	}
.blue {

	background-color: blue;

}

.bottom {

	display:inline-block;
	height: 300px;
	width: 33.33%;
}


.grey {

background-color: grey;

}

.yellow {

	background-color: tan;
}
.black {

background-color: black;

}

.box {
	border: 1px solid black;
}